<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>Crear Cuenta></title>
</head>
<body>
    <%- include("./partials/nav") %>
    <h1>hola</h1>
    <form action="/"  method="POST">
        <input type="text" placeholder="nombre" name="nombre" required>
        <input type="text" placeholder="precio" name="precio" required>
        <input type="text" placeholder="plataformas" name="plataformas" required>

        <button type="submit">agregar</button>
    </form>
</body>
</html>