<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/panel.css">
    <title>Panel</title>
</head>
<body>
    <%- include('./employee/panel') %>
    <main>
        <p class="asdas">asdads</p>
    </main>
</body>
</html>