<div class="panel">
    <div class="container-img">
        <img src="/images/logo/logo_hopetrade_notext.png" alt="logo">
    </div>
    <div class="container-panel">
        <div class="container-actions">
        <% if (locals.rol !== "representante") {%>
            <div class="actions">
                <a href="/" class="action">Agregar Voluntario</a>
            </div>

            <div class="actions">
                <a href="/" class="action">Agregar Representante</a>
            </div>


            <div class="actions">
                <a href="/" class="action">Cambiar Filial</a>
            </div>
        <% } else {%>
            <div class="actions">
                <a href="/" class="action">Ver intercambios</a>
            </div>
        <% } %>

        </div>



        <div class="config">
            <a href="/">Cambiar contraseña</a>
            <div class="logout">
                <a href="/">Cerrar sesion</a>
            </div>
        </div>


    </div>

</div>