<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/notifications.css">
    <title>Notificaciones</title>
</head>
<body>
    <%- include("./partials/nav") %>
    <main>
        <div class="container">
                <div class="title-on-page">
                    <h1> Notificaciones</p>
                </div>

                <div class="container-notification">
                    <% if (notificaciones.length > 0) { %>
                        <% notificaciones.reverse().forEach(notificacion => { %>
                            <div class="card-notification">
                                <a class="card-notification-link">
                                    <div class="content">
                                        <div class="details">
                                            <p class="contenido"><%=notificacion.contenido%></p>           
                                        </div>
                                        <% if (notificacion.estado == "pendiente") { %>
                                            <i class="fa-solid fa-circle"></i>
                                        <% } %>
                                    </div>
                                </a>
                            </div>
                        <% }) %>
                    <% } else { %>
                        <p style="color: grey;">Todavia no tiene notificaciones</p>
                    <% } %>
                </div>
                
        </div>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>