nav {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #e8e8e7;
    font-family: Sans-serif;
}

.nav-container {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
}


.nav-container img {
    max-width: 350px;
}

.container-links{
    display: flex;
    justify-content: space-between;
    width: 350px;
    align-items: center;
}

.container-links a{
    color: #61b0b2;
    text-decoration: none;
    font-weight: 600;
}

.container-links > a:hover:not(:last-child){
    text-decoration: underline 0.15em;
    text-underline-offset: 0.7em;
}

.seleccionado {
    text-decoration: underline 0.15em !important;
    text-underline-offset: 0.7em;
}

.container-links > a:last-child{
    color: white;
    padding: 5px 15px;
    border-radius: 2px;
    background-color: #79b18d;
}

.container-links > a:last-child:hover{
    background-color: #5c876b;
}


.opciones {
    cursor: pointer;
    padding: 0 0 18px 0;
}

hr {
    margin: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 30px;
    right: 0px;
    background-color: #e8e8e7;
    width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 14px;
}

.dropdown-content a {
    color: #6c7778;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
  
.color {
    color: #61b0b2;
    cursor: pointer;
    font-size: 18px;
}