.container-offers {
    width: 1200px;
    margin: 30px auto 60px auto;
    font-family: Verdana, Tahoma, sans-serif;
}

.title-page {
    margin: 0 0 20px 0;
    font-size: 20px;
}

.offers {
    width: 100%;
    height: 600px;
    overflow-y: scroll;
    background: #ababab;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.offers p {
    margin:  0;
}

.card-offer {
    height: 200px;
    width: 96%;
    display: flex;
    justify-content: space-between;
    background: #e8e8e7;
    padding: 2%;
}


.offer-images {
    display: flex;
    width: 40%;
    justify-content: space-between;
}


.flecha-intercambio {
    font-size: 50px;
    margin-top: 50px;
}

.images-names {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
    /* background: red; */
    justify-content: space-between;
}
.container-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
}


.images {
    width: 80%;
    height: 80%;
    object-fit: contain;
}



.offers-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 35%;
}


.offers-states {
    width: 15%;

}

.buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}


.btn {
    color: white;
    padding: 10px 15px;
    border-radius: 2px;
    text-decoration: none;
    width: 70%;
    text-align: center;
    font-weight: 600;
}

.btn:hover {
    filter: brightness(0.9);
}

.aceptar {
    background-color: #abb444;
}

.contraOferta {
    background-color: #79b18d;
}

.rechazar {
    background-color: #ea5858;
}

.state {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.vacio {
    color: grey;
    margin: 0;
}