body {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    font-family: Verdana, Tahoma, sans-serif;
}
a {
    text-decoration: none;
    color: white;
}

.panel {
    display: flex;
    flex-direction: column;
    width: 18%;
    background-color: rgb(72, 72, 72);
}
.panel .inicio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
}

.container-img {
    width: 84%;
    display: flex;
    padding: 20px 8%;
    background: #282828;
}

.container-img img {
    width: 20%;
}

.container-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding-top: 30px;
}

.container-actions {
    height: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.actions {
    padding: 10px 20px;
    line-height: 25px;
}

.actions:hover {
    background-color: #282828;
}

.action-seleccionado {
    background-color: #282828;
}

.config {
    display: flex;
    flex-direction: column;
    height: 10%;
    justify-content: space-between;
    background: #282828;
    padding: 30px;
}
