main {
    font-family: Verdana, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 50px 0;
}
.container {
    display: flex;
    width: 1200px;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 35px;
}

.actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.text-top {
    margin: 0; 
    align-content: center;
    text-align: center;
}

.text-top:last-child {
    width: 5%;
}

.btn {
    background-color: #abb444;
    padding: 10px 15px;
    border-radius: 2px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.btn:hover {
    filter: opacity(0.8);
}


.container-posts {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    row-gap: 40px;
    column-gap: 40px;
}

.card-post {
    background: #cac8c875;
    width: 270px;
    height: 400px;
}

.card-post:hover {
    filter: brightness(0.8);
    cursor: pointer;
    box-shadow: 0 0 50px 1px #00000042;

}
.card-post-link {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;
}
.image {
    height: 50%;
}

.image img {
    width: 100%;
    height: 100%;
    outline: 1px solid black;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    text-align: center;
    position: relative;
}
.info p {
    margin: 0;
}

.info .top {
    padding: 20px;
}
.info .top .title {
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.info .mid-state {
    position: absolute;
    bottom: 70px;
    right: 60px;
}

.info .down {
    padding: 15px;
    background: #abb444;
}

.info .down .categoria {
    color: white;
    font-weight: 600;
}