<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>HopeTrade</title>
</head>
<body>
    <%- include("./partials/nav") %>
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1skjn5O4IWcCFh6X9CIo8CPe5DXuhWx0&ehbc=2E312F&noprof=1" width="640" height="480" style="position: absolute; bottom: 20px; right: 20px;"> </iframe>
    <h1>hola rey</h1>
    
        <p><%= locals.nombre || "no hay nadie" %></p>
</body>
</html>