<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>HopeTrade</title>
</head>
<body>
    <%- include("./partials/nav") %>
    <h1>hola rey</h1>

        <p><%= locals.nombre || "no hay nadie" %></p>
</body>
</html>