<nav class="nav">
    <div class="nav-container">
         <a href="/">
             <img src="/images/logo/logo_hopetrade_xl.png"> 
         </a>
         <%  if (locals.usuario)  {%>
             <div class="container-links" style="width: 370px !important;">
                 <a id="seccion1" href="/posts">Publicaciones</a>
                 <div class="dropdown">
                    <a id="seccion2" class="opciones" style="cursor: pointer;">Mi Perfil</a>
                    <div class="dropdown-content">
                        <a href="/profile/myPosts">Mis Publicaciones</a>
                        <a href="/profile/sentOffers">Ofertas Enviadas</a>
                        <a href="/profile/receivedOffers">Ofertas Recibidas</a>
                        <hr>
                        <a href="/profile/changePassword">Cambiar Contraseña</a>
                        <a class="ultimo" href="/logout">Cerrar Sesion</a>
                    </div>
                </div>

                <a href="/notifications">
                    <i class="fa-solid fa-bell color"></i>
                </a>
                 
                <a href="/donate">Donar</a>
            </div>
         <% } else { %>
            <div class="container-links">
                <a id="seccion3" href="/login">Iniciar Sesion</a>
                <a id="seccion4" href="/register">Crear Cuenta</a>
                <a href="/donate">Donar</a>
            </div>
         <% }  %>
 
 
    </div>
 </nav>