<nav class="nav">
    <div class="nav-container">
         <a href="/">
             <img src="/images/logo/logo_hopetrade_xl.png"> 
         </a>
         <%  if (locals.usuario)  {%>
             <div class="container-links" style="width: 370px !important;">
                 <a href="/posts">Publicaciones</a>
                 <div class="dropdown">
                    <a class="opciones" style="cursor: pointer;">Mi Perfil</a>
                    <div class="dropdown-content">
                      <a href="/profile/myPosts">Mis Publicaciones</a>
                      <a href="/profile/myOffers">Ofertas hechas</a>
                      <a href="/profile/offers">Ofertas recibidas</a>
                      <hr>
                      <a href="/profile/changePassword">Cambiar contraseña</a>
                      <a class="ultimo" href="/logout">Cerrar Sesion</a>
                    </div>
                  </div>

                  <a href="/notifications">
                      <i class="fa-solid fa-bell color"></i>
                </a>
                 
                 <a href="/donate">Donar</a>
             </div>
         <% } else { %>
             <div class="container-links">
                 <a href="/login">Iniciar Sesion</a>
                 <a href="/register">Crear Cuenta</a>
                 <a href="/donate">Donar</a>
             </div>
         <% }  %>
 
 
    </div>
 </nav>