<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/posts.css">
    <title>Profile</title>
</head>
<body>
    <%- include("./partials/nav") %>
    <main>
        <div class="container">
                <div class="actions">                   
                    <a class="btn" href="/profile/myPosts"> Mis Publicaciones </a>
                    <a class="btn" href="/profile/offers"> Ofertas recibidas </a>
                    <a class="btn" href="/profile/myOffers"> Ofertas realizadas </a>
                    <a class="btn" href="/profile/changePassword"> Cambiar contraseña </a>
                </div>

        </div>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>