<div class="panel">
    <div class="container-img">
        <a class="inicio" href="/controlPanel">
            <img src="/images/logo/logo_hopetrade.png" alt="logo">
            INICIO
        </a>
    </div>
    <div class="container-panel">
        <div class="container-actions">
        <% if (locals.usuario.rol == "representante") {%>
            <div id="seccion1" class="actions">
                <a href="/controlPanel/historyExchanges" class="action">Historial de Intercambios</a>
            </div>

            <div id="seccion2" class="actions">
                <a href="/controlPanel/registerVoluntario" class="action">Registrar Voluntario</a>
            </div>

            <div id="seccion3" class="actions">
                <a href="/controlPanel/registerRepresentante" class="action">Registrar Representante</a>
            </div>


            <div id="seccion4" class="actions">
                <a href="/controlPanel/changeFilial" class="action">Cambiar Filial</a>
            </div>

        <% } else {%>
            <div id="seccion5" class="actions">
                <a href="/controlPanel/exchanges" class="action">Ver Intercambios Pendientes</a>
            </div>
        <% } %>

        </div>



        <div class="config">
            <a href="/profile/changePassword">Cambiar contraseña</a>
            <div class="logout">
                <a href="/logout">Cerrar sesion</a>
            </div>
        </div>


    </div>

</div>