<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/donate.css">
    <title>Donar</title>
</head>
<body>
    <%- include("./partials/nav") %>
    <main>
        <div class="container-info">
            <h1>Donaciones</h1>
            <p>Con HopeTrade tenes la capacidad de donar tanto articulos como dinero.</p>
            <p>Para donar en persona (dinero en efectivo o diversos productos) dirigite a alguna de nuestras <a href="/#map">filiales</a>.</p>
            <p>Para donar en nuestro sistema (con tarjeta) haz click <a href="/cardDonate">Aquí</a>.</p>
        </div>
        <img src="/images/general/Voluntariado.png" alt="bg-donate">
    </main>
    <%- include("./partials/footer") %>
</body>
</html>